/* LAYOUT */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  margin: 0;
  width: 100%;
  margin-bottom: 124px;
}

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  margin: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 24px 0;
}

nav a {
  text-decoration: underline;
  color: var(--background-black);
}

.brand-name {
  font-size: 1.25rem;
  text-decoration: none;
}

.menu {
  font-size: 17px;
}

/* HERO */
#hero {
  display: grid;
  grid-template-rows: 250px 479px;
  grid-template-columns: auto 1fr 1fr auto;
  column-gap: 16px;
  justify-items: end;
  position: relative;
}

#hero h1 {
  grid-area:  1 / 1 / 1 / -1;
  padding: 98px 0 98px 0;
  text-align: center;
  justify-self: center;
}

#hero a {
  grid-area: 2 / -1 / 2 / 1;
  margin-top: 200px;
  align-self: self-start;
  transform: rotate(180deg);
  padding-right: 16px;
}

.kawakawa-graphic {
  grid-area: 2 / 1 / 2 / -1;
  height: 291px;
  width: 100vw;
  object-fit: cover;
  margin-bottom: 0;
  margin-top: 0;
}

.pink-element {
  display: grid;
  grid-area: 2 / 1 / 3 / -1;
  height: 207px;
  margin: 16px;
  opacity: 85%;
  place-self: start;
  padding-bottom: 0px;
  margin-top: 195px;
}


/* QUICK INFO */

.quick-info {
  grid-area: 2 / 2 / -1 / -1 ;
  margin: 310px 16px 0 110px;
  z-index: 1;
}

.quick-info h3 {
  gap: 8px;
}


